<p-toast />
<p-card header="Abuse IP Kontrolü">
    <p>
        Bu ekrandan Abuse ekranlarına gitmeden sorgulama yapabilirsiniz ve
        sorgulama yaptığınız adresi engelleyebilirsiniz.
    </p>
    <div class="flex flex-column gap-2">
        <label for="ipaddress">IP Adres</label>
        <input
            appIpAddress
            pInputText
            required
            id="ipaddress"
            aria-describedby="username-help"
            [(ngModel)]="ipAddress"
        />
        <small id="ipaddress-help"> Buradan sorgulama yapabilirsiniz. </small>
        <div class="flex justify-content-center align-items-end flex-wrap">
            <p-button
                [raised]="true"
                label="Sorgula"
                icon="pi pi-search"
                (onClick)="checkIpAddress($event)"
            />
        </div>
    </div>
</p-card>
<p-dialog
    header="{{ abuseCheckResponse.ipAddress }} Bilgileri"
    [modal]="true"
    [(visible)]="visible"
    draggable="false"
    maximizable="true"
>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"><strong>IP Adresi:</strong></label>
        <span>{{ abuseCheckResponse.ipAddress }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"
            ><strong>IP Versiyon:</strong></label
        >
        <span>{{ abuseCheckResponse.ipVersion }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"
            ><strong>İnternet Sağlayıcı:</strong></label
        >
        <span>{{ abuseCheckResponse.isp }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"><strong>Ülke:</strong></label>
        <span>{{
            getCountryNameByCountryCode(abuseCheckResponse.countryCode)
        }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"
            ><strong>Toplam Raporlama Sayısı:</strong></label
        >
        <span>{{ abuseCheckResponse.totalReports }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"
            ><strong>Kaç Farklı Kişi Raporladı:</strong></label
        >
        <span>{{ abuseCheckResponse.numDistinctUsers }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"
            ><strong>Abuse Risk Puanı:</strong></label
        >
        <span>{{ abuseCheckResponse.abuseConfidenceScore }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"><strong>Domain:</strong></label>
        <span>{{ abuseCheckResponse.domain }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"><strong>Public mi?:</strong></label>
        <span>{{
            abuseCheckResponse.isPublic === true ? "Evet" : "Hayır"
        }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"><strong>Tor mu?:</strong></label>
        <span>{{ abuseCheckResponse.isTor === true ? "Evet" : "Hayır" }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"
            ><strong>Abuse Beyaz Listesinde mi?:</strong></label
        >
        <span>{{
            abuseCheckResponse.isWhitelisted === true ? "Evet" : "Hayır"
        }}</span>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem"
            ><strong>Abuse Beyaz Listesinde mi?:</strong></label
        >
        <span>{{
            abuseCheckResponse.isWhitelisted === true ? "Evet" : "Hayır"
        }}</span>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button
            label="Listeye Ekle"
            (click)="prepareCheckIpForBan(abuseCheckResponse.ipAddress)"
        />
    </div>
</p-dialog>
