<p-toast></p-toast>
<p-card header="Abuse IP Kontrolü">
    <p>
        Bu ekrandan Abuse ekranlarına gitmeden sorgulama yapabilirsiniz ve
        sorgulama yaptığınız adresi engelleyebilirsiniz.
    </p>
    <div class="flex flex-column gap-2">
        <label for="ipaddress">IP Adres</label>
        <input
            appIpAddress
            pInputText
            required
            id="ipaddress"
            aria-describedby="username-help"
            [(ngModel)]="ipAddress"
        />
        <small id="ipaddress-help"> Buradan sorgulama yapabilirsiniz. </small>
        <div class="flex justify-content-center align-items-end flex-wrap">
            <p-button
                [raised]="true"
                label="Sorgula"
                icon="pi pi-search"
                (onClick)="checkIpAddress($event)"
            />
        </div>
    </div>
</p-card>
<p-dialog
    header="{{ abuseCheckResponse.ipAddress }} Bilgileri"
    [modal]="true"
    [(visible)]="visible"
    draggable="false"
    maximizable="true"
    class="ip-info-dialog"
>
    <div class="ip-dialog-content">
        <div class="ip-info-row">
            <label><strong>IP Adresi:</strong></label>
            <span>{{ abuseCheckResponse.ipAddress }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>IP Versiyon:</strong></label>
            <span>{{ abuseCheckResponse.ipVersion }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>İnternet Sağlayıcı:</strong></label>
            <span>{{ abuseCheckResponse.isp }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>Ülke:</strong></label>
            <span>{{
                getCountryNameByCountryCode(abuseCheckResponse.countryCode)
            }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>Toplam Raporlama Sayısı:</strong></label>
            <span>{{ abuseCheckResponse.totalReports }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>Kaç Farklı Kişi Raporladı:</strong></label>
            <span>{{ abuseCheckResponse.numDistinctUsers }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>Abuse Risk Puanı:</strong></label>
            <span>{{ abuseCheckResponse.abuseConfidenceScore }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>Domain:</strong></label>
            <span>{{ abuseCheckResponse.domain }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>Public mi?:</strong></label>
            <span>{{ abuseCheckResponse.isPublic ? "Evet" : "Hayır" }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>Tor mu?:</strong></label>
            <span>{{ abuseCheckResponse.isTor ? "Evet" : "Hayır" }}</span>
        </div>
        <div class="ip-info-row">
            <label><strong>Abuse Beyaz Listesinde mi?:</strong></label>
            <span>{{
                abuseCheckResponse.isWhitelisted ? "Evet" : "Hayır"
            }}</span>
        </div>
    </div>
    <div class="ip-dialog-footer">
        <p-button
            label="Engelle"
            class="p-button-danger"
            (click)="banCheckIp(abuseCheckResponse.ipAddress)"
        ></p-button>
    </div>
</p-dialog>
