<p-toast />
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button
            pRipple
            severity="success"
            label="Ekle"
            icon="pi pi-plus"
            class="mr-2"
            (click)="addNewServer()"
        />
        <p-button
            pRipple
            severity="danger"
            label="Seçili Olanları Sil"
            icon="pi pi-trash"
            (click)="deleteSelectedServers()"
            class="mr-2"
            [disabled]="!selectedServers || !selectedServers.length"
        />
    </ng-template>
    <ng-template pTemplate="right">
        <p-button
            pRipple
            severity="warning"
            label="Seçili Olanlara Listeleri Gönder"
            icon="pi pi-upload"
            [disabled]="!selectedServers || !selectedServers.length"
        />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="servers"
    [rows]="10"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [(selection)]="selectedServers"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Sunucu Yönetimi</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>Sunucu Adı</th>
            <th>Sunucu Adresi</th>
            <th>Sunucu Port</th>
            <th>Dosya Yolu</th>
            <th>Dosya Adı</th>
            <th>Durum</th>
            <th>Oluşturulma Tarihi</th>
            <th>Oluşturan</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-server>
        <tr>
            <td>
                <p-tableCheckbox [value]="server" />
            </td>
            <td>
                {{ server.name }}
            </td>
            <td>
                {{ server.url }}
            </td>
            <td>
                {{ server.port }}
            </td>
            <td>
                {{ server.remoteFilePath }}
            </td>
            <td>
                {{ server.fileName }}
            </td>
            <td>
                {{ server.active }}
            </td>
            {{
                server.createdAt | date : "dd MMMM yyyy, EEEE HH:mm"
            }}
            <td>
                {{ server.createdBy }}
            </td>
            <td>
                <p-button
                    pRipple
                    icon="pi pi-pencil"
                    class="mr-2"
                    [rounded]="true"
                    [outlined]="true"
                    severity="success"
                    (click)="editProduct(product)"
                />
                <p-button
                    pRipple
                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="deleteProduct(product)"
                />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Kayıtlı {{ servers ? servers.length : 0 }} sunucu var.
        </div>
    </ng-template>
</p-table>
