<p-toast />
<div class="progress-spinner" *ngIf="loading">
    <p-progressSpinner
        styleClass="w-4rem h-4rem "
        strokeWidth="7"
        animationDuration=".5s"
        >
    </p-progressSpinner>
</div>
<p-card header="Abuse IP Kontrolü">
    <p>
        Bu ekrandan Abuse ekranlarına gitmeden sorgulama yapabilirsiniz ve
        sorgulama yaptığınız adresi karalistenize ekleyebilirsiniz.
    </p>
    <div class="flex flex-column gap-2">
        <label for="ipaddress">IP Adres</label>
        <input
            appIpAddress
            pInputText
            required
            id="ipaddress"
            aria-describedby="username-help"
            [(ngModel)]="ipAddress" />
        <small id="ipaddress-help">
            Buradan sorgulama yapabilirsiniz.
        </small>
        <div class="flex justify-content-center align-items-end flex-wrap">
            <p-button
            [raised]="true"
            label="Sorgula"
            icon="pi pi-search"
            (onClick)="checkIpAddress($event)"
        />
        </div>
    </div>

</p-card>
