

<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button
            pRipple
            severity="success"
            label="Ekle"
            icon="pi pi-plus"
            class="mr-2"
            (click)="openNewServerDialog()"
        />
    </ng-template>
    <ng-template pTemplate="right">
        <p-button
            pRipple
            severity="warning"
            label="Seçili Olanlara Listeyi Gönder"
            icon="pi pi-upload"
            (click)="sendConfToFileSelectedServers()"
            [disabled]="!selectedServers || !selectedServers.length"
        />
    </ng-template>
</p-toolbar>
<p-card>
<p-table
    #dt
    [value]="servers"
    [rows]="6"
    [tableStyle]="{ 'min-width': '75rem' }"
    paginator="true"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="{totalRecords} kayıttan {first} - {last} arası gösteriliyor"
    [showCurrentPageReport]="true"
    [(selection)]="selectedServers"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Sunucu Yönetimi</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>Sunucu Adı</th>
            <th>Sunucu Adresi</th>
            <th>Sunucu Port</th>
            <th>Dosya Yolu</th>
            <th>Dosya Adı</th>
            <th>Durum</th>
            <th>Oluşturulma Tarihi</th>
            <th>Oluşturan</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-server>
        <tr>
            <td>
                <p-tableCheckbox [value]="server" />
            </td>
            <td>
                {{ server.name }}
            </td>
            <td>
                {{ server.host }}
            </td>
            <td>
                {{ server.port }}
            </td>
            <td>
                {{ server.remoteFilePath }}
            </td>
            <td>
                {{ server.fileName }}
            </td>
            <td>
                {{ server.isActive == true ? "Aktif" : "Deaktif" }}
            </td>
            <td>
                {{ server.createdAt | date : "dd MMMM yyyy, EEEE HH:mm" }}
            </td>
            <td>
                {{ server.createdBy }}
            </td>
            <td>
                <p-button
                    pRipple
                    icon="pi pi-pencil"
                    class="mr-2"
                    [rounded]="true"
                    [outlined]="true"
                    severity="success"
                    disable="true"
                    (click)="editServer(server)"
                />
                <p-button
                    pRipple
                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    disable="true"
                    (click)="deleteServerById(server.id)"
                />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Kayıtlı {{ servers ? servers.length : 0 }} sunucu var.
        </div>
    </ng-template>
</p-table>
</p-card>
<p-dialog
    [header]="serverId ? 'Sunucuyu Güncelle' : 'Yeni Sunucu Ekle'"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '30rem' }"
    draggable="false"
>
    <form
        [formGroup]="serverFormGroup"
        (ngSubmit)="saveServer()"
        class="p-fluid"
    >
        <p class="p-text-secondary mb-4">Sunucu bilgilerini girin</p>

        <div class="form-section">
            <div class="field mb-4">
                <label for="name" class="block font-medium">Sunucu Adı</label>
                <input
                    pInputText
                    id="name"
                    formControlName="serverName"
                    class="w-full"
                />
            </div>
            <div class="field mb-4">
                <label for="host" class="block font-medium"
                    >Sunucu Adresi</label
                >
                <input
                    pInputText
                    id="host"
                    required
                    formControlName="serverHost"
                    class="w-full"
                />
            </div>
            <div class="field mb-4">
                <label for="port" class="block font-medium">Sunucu Portu</label>
                <p-inputNumber
                    id="port"
                    inputId="minmax"
                    mode="decimal"
                    [min]="0"
                    [max]="65535"
                    [useGrouping]="false"
                    class="w-full"
                    formControlName="serverPort"
                />
            </div>
            <div class="field mb-4">
                <label for="username" class="block font-medium"
                    >Server Kullanıcı Adı</label
                >
                <input
                    pInputText
                    id="username"
                    class="w-full"
                    formControlName="serverUsername"
                />
            </div>
            <div class="field mb-4">
                <label for="password" class="block font-medium"
                    >Sunucu Parolası</label
                >
                <input
                    pInputText
                    id="password"
                    class="w-full"
                    formControlName="serverPassword"
                />
            </div>
            <div class="field mb-4">
                <label for="filePath" class="block font-medium"
                    >Blokip.conf Dosya Yolu</label
                >
                <input
                    pInputText
                    id="filePath"
                    class="w-full"
                    formControlName="serverFilePath"
                />
            </div>
            <div class="field mb-4">
                <label for="fileName" class="block font-medium"
                    >Blokip.conf Dosya Adı</label
                >
                <input
                    pInputText
                    id="fileName"
                    class="w-full"
                    formControlName="serverFileName"
                />
            </div>
            <div class="field mb-4">
                <label for="fileName" class="block font-medium"
                    >FTP türü</label
                >
                <p-toggleButton
                    formControlName="serverSFTP"
                    onLabel="SFTP"
                    offLabel="FTP"
                />
            </div>

            <div class="field mb-4">
                <label for="fileName" class="block font-medium"
                    >Aktif mi?</label
                >
                <p-toggleButton
                    formControlName="serverActive"
                    onLabel="Aktif"
                    offLabel="Deaktif"
                />
            </div>
        </div>

        <div class="flex justify-content-end gap-2 mt-4">
            <p-button
                label="İptal"
                severity="secondary"
                class="p-button-outlined"
                (click)="visible = false"
            ></p-button>
            <p-button
                [label]="serverId ? 'Güncelle' : 'Kaydet'"
                type="submit"
                class="p-button-success"
            ></p-button>
        </div>
    </form>
</p-dialog>
