<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light'
                    ? 'logo-dark'
                    : 'logo-white'
            }}.svg"
            alt="logo"
        />
        <span>LIVING TEAM</span>
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <p-button
            icon="pi pi-user"
            [rounded]="true"
            [text]="true"
            [raised]="true"
            (onClick)="op.toggle($event)"
            type="button"
        >
        </p-button>
        <p-overlayPanel #op>
            <div class="user-info">
                <h3>{{username}}</h3> <!-- Kullanıcı adı -->
                <p-button label="Çıkış Yap" icon="pi pi-sign-out" (onClick)="logout()"></p-button> <!-- Çıkış yap butonu -->
            </div>
        </p-overlayPanel>
    </div>
</div>
