<p-toast/>
<p-card header="Abuse Karalistesi">
    <p>
        Bu ekrandan Abuse'nin karalisteye aldığı ip adresleri inceleyebilir ve
        onları kendi karalistenize alabilirsiniz. Kendi karalistenizde zaten bulunanları sistem otomatik eleyecektir.
    </p>
    <div class="p-1 flex justify-content-end align-items-end flex-wrap">
        <p-button label="Karalisteyi Güncelle" [raised]="true" severity="success" class="pr-1" (onClick)="updateBlackList($event)"/>
        <p-button label="Kendi Karalistene Ekle" [raised]="true" severity="info" class="pr-1"/>
    </div>

    <p-table
        [value]="blacklist"
        selectionMode="single"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        [responsive]="true"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>IP Adresi</th>
                <th>Son Raporlanma Tarihi</th>
                <th>Ülke</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-black>
            <tr>
                <td>{{ black.id }}</td>
                <td>{{ black.ipAddress }}</td>
                <td>
                    {{
                        black.lastReportedAt | date : "dd MMMM yyyy, EEEE HH:mm"
                    }}
                </td>
                <td>{{ getCountryNameByCountryCode(black.countryCode) }}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="size"
        [totalRecords]="totalRecords"
        [showCurrentPageReport]="true"
        [showJumpToPageDropdown]="false"
        [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
    />
</p-card>
