<p-toast />
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
       
    </ng-template>
    <ng-template pTemplate="right">
        <p-button
            pRipple
            severity="warning"
            label="Seçili Olanları Transfere Hazırla"
            icon="pi pi-upload"
            (click)="prepareSuspectIpForBan()"
            [disabled]="!selectedSuspectIp || !selectedSuspectIp.length"
        />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="suspectIpList"
    [rows]="6"
    [tableStyle]="{ 'min-width': '75rem' }"
    paginator="true"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="{totalRecords} kayıttan {first} - {last} arası gösteriliyor"
    [showCurrentPageReport]="true"
    [(selection)]="selectedSuspectIp"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Yakalananlar IP Listesi</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>IP Adresi</th>
            <th>Hangi hosttan gelmiş</th>
            <th>Oluşturulma Tarihi</th>
            <th>Durum</th>
            <th>Durum Güncellenme</th>
            <th>Durum Güncelleyen</th>
            <th>Detay</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-suspect>
        <tr>
            <td>
                <p-tableCheckbox [value]="suspect" />
            </td>
            <td>
                {{ suspect.ip }}
            </td>
            <td>
                {{ suspect.host }}
            </td>
            <td>
                {{
                    suspect.createdAt | date : "dd MMMM yyyy, EEEE HH:mm"
                }}
            </td>
            <td>
                {{ suspect.status }}
            </td>
            <td>
                {{ suspect.statusAt | date : "dd MMMM yyyy, EEEE HH:mm"}}
            </td>
            <td>
                {{ suspect.statusBy }}
            </td>
            <td>
                <p-button
                severity="warning"
                label="Satır Detay"
                icon="pi pi-info-circle"
                class="mr-2"
                (click)="showLineDetailDialog(suspect.line)"
            />
            </td>
    
        </tr>
    </ng-template>
</p-table>

<p-dialog 
    header="Satır Detay" 
    [modal]="true"
    [(visible)]="visible" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" >
        <p>
            {{selectedLine}}
        </p>
</p-dialog>

